do_token                 = "your_dev_do_token"
region                   = "fra1"
domain_name              = "sendr.app"
domain_target_ip        = ""
vpc_cidr                 = "10.0.0.0/16"
database_node_size      = "db-s-1vcpu-2gb"
database_node_count     = 1
database_engine_version = "16"
kubernetes_version       = "1.30"
kubernetes_node_size    = "s-2vcpu-2gb"
kubernetes_node_count   = 1